.card{
    display: table-cell;
    max-width: 175px;
    margin: 8px;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    text-decoration: none;
}

.card-image-div{
    width: 100%;
}

.card-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-style: none;
}

.card-title{
    width: 100%;
    padding: 2px 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #343434;
    font-weight: 700;
}
